.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    border-radius: 0.375rem;
    border-width: 1px;
    border-color: var(--border-primary-color);

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    &:hover {
        background-color: var(--hover-color);
    }

    svg {
        font-size: 1.25rem;
    }

    span {
        font-size: 1rem;
    }
}

.form_field {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .field {
        position: relative;
        width: 100%;
        height: auto;

        .input {
            display: block;
            width: 100%;
            // height: 2.5rem;
            padding: 0.5rem;
            font-size: 1rem;

            background-color: var(--bg-color);
            border-radius: 0.375rem;
            border-width: 1px;
            border-color: var(--border-primary-color);
            outline: none;

            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 200ms;

            &:focus,
            &:hover {
                outline: none;
            }
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            color: rgba(var(--text-color-rgb), 0.5);
            pointer-events: none;
            // transform-origin: left top 0px;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .input:focus+label,
        .input:placeholder-shown+label,
        .input.filled+label {
            // top: -50%;
            transform: translateY(-100%);
            left: 0;
            font-size: 0.8rem;
            padding: 0;
            color: rgba(var(--text-color-rgb), 0.7);
        }

        textarea.input {
            resize: vertical;
            min-height: 5rem;
            max-height: 10rem;
        }
    }

    p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: rgba(var(--text-color-rgb), 0.7);
    }
}