@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

$color_1: var(--ck-highlight-pen-red);
$color_2: var(--ck-highlight-pen-green);
$color_3: var(--ck-color-image-caption-text);
$color_4: hsl(0, 0%, 20%);
$color_5: var(--ck-color-table-caption-text);
$color_6: hsl(0, 0%, 20.8%);
$color_7: var(--ck-color-mention-text);
$font-family_1: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
$background-color_1: hsla(0, 0%, 78%, 0.3);
$background-color_2: var(--ck-highlight-marker-yellow);
$background-color_3: var(--ck-highlight-marker-green);
$background-color_4: var(--ck-highlight-marker-pink);
$background-color_5: var(--ck-highlight-marker-blue);
$background-color_6: transparent;
$background-color_7: var(--ck-color-image-caption-background);
$background-color_8: var(--ck-color-table-caption-background);
$border-color_1: transparent;
$border-color_2: hsl(126, 64%, 41%);
$border-color_3: hsl(0, 0%, 100%);
$text-color: rgb(var(--text-color));
$mark-color: #13d7d7;

/*
 * CKEditor 5 (v38.0.1) content styles.
 * Generated on Mon, 29 May 2023 11:13:07 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
 */
/* @ckeditor/ckeditor5-block-quote/theme/blockquote.css */
/* @ckeditor/ckeditor5-block-quote/theme/blockquote.css */
/* @ckeditor/ckeditor5-basic-styles/theme/code.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-highlight/theme/highlight.css */
/* @ckeditor/ckeditor5-image/theme/image.css */
/* @ckeditor/ckeditor5-image/theme/image.css */
/* @ckeditor/ckeditor5-image/theme/image.css */
/* @ckeditor/ckeditor5-image/theme/image.css */
/* @ckeditor/ckeditor5-image/theme/image.css */
/* @ckeditor/ckeditor5-font/theme/fontsize.css */
/* @ckeditor/ckeditor5-font/theme/fontsize.css */
/* @ckeditor/ckeditor5-font/theme/fontsize.css */
/* @ckeditor/ckeditor5-font/theme/fontsize.css */
/* @ckeditor/ckeditor5-image/theme/imagecaption.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imagestyle.css */
/* @ckeditor/ckeditor5-image/theme/imageresize.css */
/* @ckeditor/ckeditor5-image/theme/imageresize.css */
/* @ckeditor/ckeditor5-image/theme/imageresize.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/list.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-list/theme/todolist.css */
/* @ckeditor/ckeditor5-media-embed/theme/mediaembed.css */
/* @ckeditor/ckeditor5-page-break/theme/pagebreak.css */
/* @ckeditor/ckeditor5-page-break/theme/pagebreak.css */
/* @ckeditor/ckeditor5-page-break/theme/pagebreak.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/table.css */
/* @ckeditor/ckeditor5-table/theme/tablecaption.css */
/* @ckeditor/ckeditor5-table/theme/tablecolumnresize.css */
/* @ckeditor/ckeditor5-table/theme/tablecolumnresize.css */
/* @ckeditor/ckeditor5-table/theme/tablecolumnresize.css */
/* @ckeditor/ckeditor5-code-block/theme/codeblock.css */
/* @ckeditor/ckeditor5-code-block/theme/codeblock.css */
/* @ckeditor/ckeditor5-horizontal-line/theme/horizontalline.css */
/* @ckeditor/ckeditor5-mention/theme/mention.css */
/* @ckeditor/ckeditor5-page-break/theme/pagebreak.css */
/* @ckeditor/ckeditor5-page-break/theme/pagebreak.css */
:root {
	--ck-color-image-caption-background: hsl(0, 0%, 97%);
	--ck-color-image-caption-text: hsl(0, 0%, 20%);
	--ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
	--ck-color-mention-text: hsl(341, 100%, 30%);
	--ck-color-table-caption-background: hsl(0, 0%, 97%);
	--ck-color-table-caption-text: hsl(0, 0%, 20%);
	--ck-highlight-marker-blue: hsl(201, 97%, 72%);
	--ck-highlight-marker-green: hsl(120, 93%, 68%);
	--ck-highlight-marker-pink: hsl(345, 96%, 73%);
	--ck-highlight-marker-yellow: hsl(60, 97%, 73%);
	--ck-highlight-pen-green: hsl(112, 100%, 27%);
	--ck-highlight-pen-red: hsl(0, 85%, 49%);
	--ck-image-style-spacing: 1.5em;
	--ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
	--ck-todo-list-checkmark-size: 16px;
}

.ck-powered-by {
	display: none;
}

.ck-content {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-size: 16px !important;
	background-color: transparent !important;
	border: none;
	color: $text-color;
	font-family: var(--font-barlow);

	--font: var(--font-barlow);
	// --font: var(--font-barlow);

	@media screen and (min-width: 600px) {
		font-size: 18px !important;
	}

	::selection {
		background: #00ffd78f !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-size: 1em;
		font-weight: 400;
		line-height: 1.55em;
		color: rgb(var(--text-color));
		padding: 0.3em 0 0.2em 0;
		margin-top: 0.5em;
		// opacity: 0.9;
	}

	h1 {
		font-size: 1.5em;
		font-weight: 600;
		font-family: var(--font);

		a {
			font-family: var(--font-barlow);
			font-weight: 900;
			margin-right: 0.5em;
			color: (($mark-color));
			text-decoration: none;

			&::after {
				display: none;
			}

			&:hover {
				filter: drop-shadow(0px 0px 3px (($mark-color)));
				color: (($mark-color));
				text-decoration: none;
			}
		}
	}

	h2 {
		font-size: 1.8em;
		font-weight: 600;
		font-family: var(--font);
		border-bottom: 1px solid rgb(var(--border-primary-color));
		margin-bottom: 0.5em;
		// position: sticky;
		// top: 80px;

		a {
			font-family: var(--font-barlow);
			font-weight: 900;
			margin-right: 0.5em;
			color: (($mark-color));
			text-decoration: none;

			&::after {
				display: none;
			}

			&:hover {
				filter: drop-shadow(0px 0px 3px (($mark-color)));
				color: (($mark-color));
				text-decoration: none;
			}
		}
	}

	h3 {
		font-size: 1.25em;
		font-weight: 600;
		font-family: var(--font);
	}

	h4 {
		font-size: 1.15em;
		font-weight: 600;
		font-family: var(--font);
	}

	h5 {
		font-size: 1.13em;
		font-weight: 600;
		font-family: var(--font);
	}

	h6 {
		font-size: 1.1em;
		font-weight: 600;
		font-family: var(--font);
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		// opacity: 0.8;
		padding: 0.75em 0 0.75em 0;
	}

	strong {
		font-weight: 600;
		font-family: var(--font);
	}

	a {
		cursor: pointer;
		// color: rgb(var(--link-primary-color));
		color: $mark-color;
		text-decoration: none;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 0%;
			height: 1px;
			background-color: currentColor;
			transition: width 0.3s ease-in-out;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}



	blockquote {
		overflow: hidden;
		padding: 0.7em;
		border-radius: 0.5em;
		// border-left: 5px solid rgb(var(--border-primary-color));
		// background-color: #0000003f;
		border-left: 5px solid rgb(147 147 147);
		background-color: rgb(175 175 175 / 25%);
		margin: 1em 0;
		display: flex;
		gap: 1em;
		align-items: flex-start;

		&::before {
			content: "";
			flex-shrink: 0;
			width: 2em;
			height: 2em;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23888'%3E%3Cpath d='M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	code {
		background-color: $background-color_1;
		padding: .15em;
		border-radius: 2px;
	}

	.marker-yellow {
		--marker-color: var(--ck-highlight-marker-yellow);
	}

	.marker-green {
		--marker-color: var(--ck-highlight-marker-green);
	}

	.marker-pink {
		--marker-color: var(--ck-highlight-marker-pink);
	}

	.marker-blue {
		--marker-color: var(--ck-highlight-marker-blue);
	}

	mark {
		// margin-inline: -.3em;
		padding-inline: .4em;
		background-color: transparent !important;

		background-image: linear-gradient(to bottom right, transparent 50%, var(--marker-color) 50%),
			linear-gradient(var(--marker-color), var(--marker-color)),
			linear-gradient(to top left, transparent 50%, var(--marker-color) 50%);

		background-size: 0.55em 2em,
			calc(100% - 1em + 1px) 2em,
			0.55em 2em;

		background-position: left center, center, right center;
		background-repeat: no-repeat;
		color: inherit;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}

	.pen-red {
		color: $color_1;
		background-color: $background-color_6;
	}

	.pen-green {
		color: $color_2;
		background-color: $background-color_6;
	}

	.image {
		display: table;
		clear: both;
		text-align: center;
		margin: 0.9em auto;
		width: auto !important;
		height: auto !important;
		min-width: 50px !important;
		max-height: 400px !important;
		filter: drop-shadow(0px 0px 3px rgb(var(--border-primary-color)));

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			max-height: 400px;
			width: 100%;
			height: 100%;
			border-radius: 0.5em;
		}

		>figcaption {
			display: table-caption;
			caption-side: bottom;
			word-break: break-word;
			color: $color_3;
			// color: $text-color !important;
			background-color: $background-color_7;
			// background-color: transparent !important;
			// padding: .6em;
			padding: .3em !important;
			font-size: .75em;
			outline-offset: -1px;
			border-radius: 0 0 0.5em 0.5em;
			opacity: 0.8;
		}

		&:has(>figcaption) {
			img {
				border-radius: 0.5em 0.5em 0 0;
			}
		}
	}

	.image-inline {
		display: inline-flex;
		max-width: 100%;
		align-items: flex-start;

		picture {
			display: flex;
			flex-grow: 1;
			flex-shrink: 1;
			max-width: 100%;
		}

		img {
			flex-grow: 1;
			flex-shrink: 1;
			max-width: 100%;
		}
	}

	.text-tiny {
		font-size: .7em;
	}

	.text-small {
		font-size: .85em;
	}

	.text-big {
		font-size: 1.4em;
	}

	.text-huge {
		font-size: 1.8em;
	}

	.image-style-block-align-left {
		max-width: calc(100% - var(--ck-image-style-spacing));
		margin-left: 0;
		margin-right: auto;
	}

	.image-style-block-align-right {
		max-width: calc(100% - var(--ck-image-style-spacing));
		margin-right: 0;
		margin-left: auto;
	}

	.image-style-align-left {
		clear: none;
		float: left;
		margin-right: var(--ck-image-style-spacing);
	}

	.image-style-align-right {
		clear: none;
		float: right;
		margin-left: var(--ck-image-style-spacing);
	}

	.image-style-side {
		float: right;
		margin-left: var(--ck-image-style-spacing);
		max-width: 50%;
	}

	.image-style-align-center {
		margin-left: auto;
		margin-right: auto;
	}

	p+.image-style-align-left {
		margin-top: 0;
	}

	p+.image-style-align-right {
		margin-top: 0;
	}

	p+.image-style-side {
		margin-top: 0;
	}

	.image-inline.image-style-align-left {
		margin-top: var(--ck-inline-image-style-spacing);
		margin-bottom: var(--ck-inline-image-style-spacing);
		margin-right: var(--ck-inline-image-style-spacing);
	}

	.image-inline.image-style-align-right {
		margin-top: var(--ck-inline-image-style-spacing);
		margin-bottom: var(--ck-inline-image-style-spacing);
		margin-left: var(--ck-inline-image-style-spacing);
	}

	.image.image_resized {
		max-width: 100%;
		display: block;
		box-sizing: border-box;

		img {
			width: 100%;
		}

		>figcaption {
			display: block;
		}
	}

	ol,
	ul {
		margin-left: 2em !important;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0.5em !important;
	}

	ol {
		list-style-type: decimal;

		ol {
			list-style-type: lower-latin;

			ol {
				list-style-type: lower-roman;

				ol {
					list-style-type: upper-latin;

					ol {
						list-style-type: upper-roman;
					}
				}
			}
		}
	}

	ul {
		list-style-type: disc;

		ul {
			list-style-type: circle;

			ul {
				list-style-type: square;

				ul {
					list-style-type: square;
				}
			}
		}
	}

	li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		p {
			padding: 0.3em 0 0.2em 0;
		}
	}

	.todo-list {
		list-style: none;

		li {
			margin-bottom: 5px;

			.todo-list {
				margin-top: 5px;
			}
		}

		.todo-list__label {
			>input {
				-webkit-appearance: none;
				appearance: none;
				display: inline-block;
				position: relative;
				width: var(--ck-todo-list-checkmark-size);
				height: var(--ck-todo-list-checkmark-size);
				vertical-align: middle;
				border: 0;
				left: -25px;
				margin-right: -15px;
				right: 0;
				margin-left: 0;

				&::before {
					display: block;
					position: absolute;
					box-sizing: border-box;
					content: '';
					width: 100%;
					height: 100%;
					border: 1px solid hsl(0, 0%, 20%);
					border-radius: 2px;
					transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
				}

				&::after {
					display: block;
					position: absolute;
					box-sizing: content-box;
					pointer-events: none;
					content: '';
					left: calc(var(--ck-todo-list-checkmark-size) / 3);
					top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
					width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
					height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
					border-style: solid;
					border-color: $border-color_1;
					border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
					transform: rotate(45deg);
				}
			}

			>input[checked] {
				&::before {
					background: hsl(126, 64%, 41%);
					border-color: $border-color_2;
				}

				&::after {
					border-color: $border-color_3;
				}
			}

			.todo-list__label__description {
				vertical-align: middle;
			}
		}
	}

	.media {
		clear: both;
		margin: 0.9em 0;
		display: block;
		min-width: 15em;
	}

	.page-break {
		position: relative;
		clear: both;
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: '';
			position: absolute;
			border-bottom: 2px dashed hsl(0, 0%, 77%);
			width: 100%;
		}
	}

	.page-break__label {
		position: relative;
		z-index: 1;
		padding: .3em .6em;
		display: block;
		text-transform: uppercase;
		border: 1px solid hsl(0, 0%, 77%);
		border-radius: 2px;
		font-family: $font-family_1;
		font-size: 0.75em;
		font-weight: bold;
		color: $color_4;
		background: hsl(0, 0%, 100%);
		box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.table {
		margin: 0.9em auto;
		display: table;

		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			height: 100%;
			border: 1px double hsl(0, 0%, 70%);
			overflow: hidden;

			td {
				min-width: 2em;
				padding: .4em;
				border: 1px solid hsl(0, 0%, 75%);
			}

			th {
				min-width: 2em;
				padding: .4em;
				border: 1px solid hsl(0, 0%, 75%);
				font-weight: bold;
				background: hsla(0, 0%, 0%, 5%);
			}
		}

		>figcaption {
			display: table-caption;
			caption-side: top;
			word-break: break-word;
			text-align: center;
			color: $color_5;
			background-color: $background-color_8;
			padding: .6em;
			font-size: .75em;
			outline-offset: -1px;
		}

		.ck-table-resized {
			table-layout: fixed;
		}

		td {
			position: relative;
		}

		th {
			position: relative;
		}
	}

	pre[class*=language-] {
		position: relative;
		background-color: #1c1e26 !important;
		color: #ffffff !important;
		padding: 1em;
		border: 1px solid rgb(var(--border-primary-color)) !important;
		border-radius: 0.5em !important;
		overflow-x: auto;

		// &::after {
		// 	content: attr(class);
		// 	position: absolute;
		// 	padding: 0.5em;
		// 	right: 10px;
		// 	top: -1px;

		// 	background: #1c1e26;
		// 	color: #fff;
		// 	font-family: var(--ck-font-face);
		// 	font-size: 10px;
		// 	line-height: 16px;
		// 	white-space: nowrap;
		// }
	}

	code[class*=language-],
	pre[class*=language-] {
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	pre[class*=language-]::-moz-selection,
	pre[class*=language-] ::-moz-selection,
	code[class*=language-]::-moz-selection,
	code[class*=language-] ::-moz-selection {
		text-shadow: none !important;
		background: rgba(29, 59, 83, .99) !important;
	}

	pre[class*=language-]::selection,
	pre[class*=language-] ::selection,
	code[class*=language-]::selection,
	code[class*=language-] ::selection {
		text-shadow: none !important;
		background: rgba(29, 59, 83, .99) !important;
	}

	@media print {

		code[class*=language-],
		pre[class*=language-] {
			text-shadow: none
		}
	}


	hr {
		border: 1px solid rgb(var(--border-primary-color));
		margin: 1em 0;
	}

	.mention {
		background: var(--ck-color-mention-background);
		color: $color_7;
	}
}

.ck-content[dir="rtl"] {
	blockquote {
		border-left: 0;
		border-right: solid 5px hsl(0, 0%, 80%);
	}

	.table {
		th {
			text-align: right;
		}
	}
}

.ck-content[dir="ltr"] {
	.table {
		th {
			text-align: left;
		}
	}
}

@media print {
	.ck-content {
		.page-break {
			padding: 0;

			&::after {
				display: none;
			}
		}
	}
}