.buttons a {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: not-allowed !important;

    &::after {
        display: none;
    }

    &:hover {
        background-color: var(--hover-color);
    }
}

.bg__image {
    // clip-path: circle(90% at 90% 50%);
    // clip-path: circle(100.0% at 100% 25%);
    // clip shadow inner

    @media screen and (max-width: 768px) {
        // clip-path: circle(85.0% at 50% 0);
        // clip-path: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(var(--dark-bg-color-rgb), 0.6);
        }
    }
}