.socialLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: top;

    @media screen and (max-width: 430px) {
        flex-wrap: wrap;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        flex-grow: 1;
        height: 2px;
        background-color: var(--border-primary-color);

        @media screen and (max-width: 430px) {
            display: none;
        }
    }

    svg {
        fill: (var(--primary-color));
    }

    :hover {
        svg {
            fill: (var(--link-secondary-color));
        }
    }

    a::after {
        display: none;
    }

}

.bottom_navigation {
    // a {
    //     border-right: 1px solid var(--border-primary-color);
    //     padding-right: 1em;

    //     &:last-child {
    //         border-right: none;
    //     }
    // }
}

// .socialLinks {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     vertical-align: top;
//     gap: 0.5em;
//     font-size: 1.5em;

//     svg {
//         fill: (var(--primary-color));
//     }

//     :hover {
//         svg {
//             fill: (var(--link-secondary-color));
//         }
//     }

//     a::after {
//         display: none;
//     }
// }