.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.title-text-div {
  width: 50%;
}

.title-btn-div {
  width: fit-content;
}

.learn_more_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  outline: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-primary-color);
  color: var(--text-color);
  font-size: .9em;
  margin-top: .25em;
}

.title-section {
  background-color: var(--tertiary-color);
  margin: 1em;
  padding: 2em;
  border-radius: 15px;
  min-height: 50vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
}

.slide {
  background-color: var(--bg-color);
  border: 1px solid var(--border-primary-color);
  color: var(--text-color);
  border-radius: 0.375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  aspect-ratio: 16/9;
}

.blogs {
  width: 50%;
}

.slideContainer {
  width: 100%;
  padding-top: 1.6%;
  padding-bottom: 1.6%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.prevBtn,
.nextBtn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-primary-color);
  background: var(--bg-color);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  z-index: 50;
  transform: translateY(-50%);
  padding: .8em 0 .8em 1.2em;
}

.nextBtn {
  padding: .8em 1em .8em 0em;
}

.prevBtn:hover,
.nextBtn:hover {
  background: var(--tertiary-color);
  transition: all .5s ease;
  cursor: pointer;
}

.prevBtn:not(:hover),
.nextBtn:not(:hover) {
  background: var(--bg-color);
  transition: all .5s ease;
  cursor: pointer;
}

.prevBtn {
  left: -4%;
}

.nextBtn {
  right: -4%;
  /* Adjusted to align with the right edge */
}

@media screen and (max-width: 1120px) {
  .title-section {
    flex-direction: column-reverse;
  }

  .blogs {
    width: 100%;
  }

  .title-text-div {
    width: 100%;
  }

  .learn_more_btn {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

  .prevBtn,
  .nextBtn {
    width: 25px;
    height: 25px;
    padding: .5em .3em .5em 0;
  }

  .prevBtn {
    left: -2%;
    padding: .5em 0 .5em .3em;
  }

  .nextBtn {
    right: -2%;
    /* Adjusted to align with the right edge */
  }
}